{
    "lastUser": "{{ .chezmoi.username }}",
    "settings": {
        "avatarShape": 19,
        "avatarShapeName": "Cookie 9-Sided",
        "lavaLampEnabled": true,
        "schemeFlavour": "default",
        "schemeMode": "dark",
        "schemeName": "caelestia",
        "skipClockPage": false,
        "use12Hour": false,
        "use12h": false,
        "wallpaperEnabled": true
    },
    "userSessions": {
    },
    "userSettings": {
        "{{ .chezmoi.username }}": {
            "avatarShape": 19,
            "avatarShapeName": "Cookie 9-Sided",
            "lavaLampEnabled": true,
            "schemeFlavour": "default",
            "schemeMode": "dark",
            "schemeName": "caelestia",
            "skipClockPage": false,
            "use12Hour": false,
            "wallpaperEnabled": true
        }
    }
}
